.container {
	width: 1000px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.column {
	float: left;
    padding: 10px;
    height: 460px;
}

.header {
	float: left;
    height: 40px;
    width: 605px;
    background-color: #416ea4;
}

.headerText {
	position: relative;
    vertical-align: middle;
    bottom: 8px;
    color: #fbfcfe;
}

.scriptArea {
	display: inline-block;
	/*background-color: #aaa;*/
	background-color: #f2f7fc;
	width: 340px;
}

.methodsEvents {
	display: inline-block;
	background-color: #f2f7fc;
	width: 265px;
	/*background-color: #bbb;*/
}

.scriptField {
	background-color: #fbfcfe;
	resize: none;
	border: 2px solid #c9c9c9;
	margin-top: 8px;
	font-size: 13px;
	width: 310px;
	height: 380px;
}

.runScriptDescription {
	font-size: 14px;
	color: #5c5c5c;
	font-family: verdana;
    vertical-align: middle;
    line-height: 30px;
    top: 5px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

.runScriptButton {
	background-color: #416ea4;
	display: block;
	width: 80px;
	height: 30px;
	color: white;
	border: none;
	font-family: verdana;
	vertical-align: middle;
    line-height: 30px;
	font-size: small;
	float: right;
	margin-top: 3px;
	margin-bottom: 4px;
	margin-right: 10px;
}

.methodSelect {
	display: block;
	margin-top: 5px;
	height: 25px;
	width: 245px;
	font-size: 11.4px;
	font-family: verdana;
	margin-left: 3px;
	border: 2px solid #c9c9c9;
	background-color: #fbfcfe;
}

.methodSelectDescription {
	margin-left: 5px;
	margin-top: 3px;
	font-size: 13px;
	color: #5c5c5c;
	font-family: verdana;
}

.callMethodButton {
	background-color: #416ea4;
	display: block;
	width: 120px;
	height: 30px;
	margin-top: 8px;
	color: white;
	border: none;
	font-family: verdana;
	font-size: small;
	margin-left: 3px;
}

.eventList {
	overflow: auto;
	height: 301px;
	width: 245px;
	border: 1px solid;
	padding-left: 0;
	list-style-type: none;
	background-color: #fbfcfe;
	border: 2px solid #c9c9c9;
	margin-left: 3px;
	margin-top: 5px;
	overflow-x: auto;
	overflow-y: auto;
}

.eventListDescription {
	margin-left: 5px;
	margin-top: 16px;
	font-size: 13px;
	color: #5c5c5c;
	font-family: verdana;
}

.event {
	width: 330px;
	height: 27px;
}

.checkbox {
	height: 20px;
	width: 20px;
}

.checkboxLabel {
	font-size: 13.5px;
	font-family: verdana;
	position: relative;
    vertical-align: middle;
    bottom: 7px;
    display: inline-block;
}